body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background: #5B1235;
    
}
.navbar-section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 2px;
   
}

.sub-navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.navbar-section .bars {
    font-size: 25px;
    color: white;
    padding: 0 9px 0 0;
}


 .nav-lg{
    display: none;
} 
.logo img {
 
   height: 2rem;
}
