
/* style rivas joyas developer Alvaro Aliaga alvaroamav96@gmail.com

1) navbar
2) sidebar
3) hero
4) red social
5) quote 
6) first-title
7) buy boxes

*/

/* colors */

.txtwhite{
    color: white;
}
.txtredwine{
    color: #5B1235;
}

.txtgold{
  color: #E9BE64;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    background: #151414 !important;
}

/* 1) navbar */ 

.navbar {
   
    display: flex;
    justify-content: space-between;
    background: #5B1235;
   
    
}
.navbar-section{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding: 2px;
   
}

.sub-navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.navbar-section .bars {
    font-size: 25px;
    color: white;
    padding: 0 9px 0 0;
}


 .nav-lg{
    display: none;
} 
.logo img {
 
   height: 2rem;
}

/* 2) sidebar */

.sidebar{
    
    height: 100%;
    position: fixed;
    background: #5B1235;
    display: flex;
    z-index: 500;
    padding: 10px;
    top: 50px;
    left: -100%;  
    transition: 350ms;
}

.sidebar.active{
    left: 0;
    transition: 350ms;
}


.nav-menu-items{

    list-style:none;
    /* background-color: blue; */
    display: flex;
    padding: 0px;
    margin: 0 10px;
    
}
.menu-text {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 1.5rem 0;
    color: white;
    /* background-color: green; */
}

.menu-text i{
    margin-left: 10px;
}
.menu-text span{
    margin-right: 10px;
}

 /* 3) first section */

 .hero{
    /* transform: translateY(-3%); */
  
     background-image : url('/assets/img/static/manikin/manikin1p.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
    height: 80vh;
 }

 /*  4) Red social */

.content-red-social {
    display: flex;
    justify-content: center;
    padding: 1rem 0 0 0;
  
    
}


.box-red-social img {
    height: 2rem;
    margin: 0px 0.5rem;

}

/*5) quote */

.content-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
   
}
.box-quote{
    display: flex;
}
.sub-box-quote{
    display: flex;
    

}
.mini-box{
    display: flex;
    flex-direction: column;
    
}
.btn-quote{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0.7rem 1rem;
    margin: 0.5rem 0px;
}

.btn-quote:nth-last-child(2){
    background: #5B1235;
    
}
.btn-quote:nth-last-child(1){
    background: #fff;
  
}


.btn-quote span{
    margin: 0px 2px;
    font-weight: 650;
    letter-spacing: 1.2px;
}

.btn-quote img{
    height: 1.9rem;
    margin: 0px 2px;
}

/* banner */

.content-banner{

    transform: translateY(125%);
    /* margin-top: 10rem; */
   
}

.box-banner{
    position: relative;
}
.banner-text {
    position: relative;
    top: -120px;
    left: 10px;
    
}

/* 6) first-title */

.first-title {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}


/* 7) buy boxes */

.content-buy-boxes {
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.buy-boxes {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background: #5B1235;
    color:  #E9BE64;
    border-radius: 15px;
    margin: 0.3rem 0.3rem;
    padding: 0.3rem;
    width: 10rem;
    height: 9rem;
    transition: 0.5s;
}

.buy-boxes:hover {
    
    background:   white;
    color: #5B1235;
    transition: 0.5s;
    
    
}
.buy-boxes span {
    font-size: 15px;
    font-weight: 500;
}

.buy-boxes img {
    height: 6rem;
}









